<section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a href="#!">BDSM Project</a>
      </div>
      <nav>
            <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
            <ul class="nav-list">
                <li> <a href="#!">Home</a> </li>

                <li>
                  <form class="d-flex" role="search" id="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-dark" type="submit">Search</button>
                  </form>
                </li>
                <li><a href="login.html" id="login">Login</a></li>
                <li><a href="signup.html" id="signup">Signup</a></li>
            </ul>
      </nav>
    </div>
</section>
