<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/tags.css">
    <title>Tags</title>
    <link rel="stylesheet" href="../CSS/navbar.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(function(){
        $("#navbar").load("navbar.html");
      });
    </script>
</head>
<body>
    <div id="navbar"></div>

    <div id="hii">
      <div class="name">Tags</div>
      <div class="name">page</div>
    </div>

    <div class="main">
      <div id="monitor">
        <h2>Most popular tags after a particular date</h2>
        <div class="row">
          <!-- <div>
              <input type="text" name="username" id="username" class="form__input form-control" placeholder="mm/yyyy">
          </div>
          <div>
              <button type="button" id="fetch" class="btn btn-info">Fetch Rates</button>
          </div> -->
          <form action="#" id="fetch">
              <input type="text" name="score" class="form-control" placeholder="dd/mm/yyyy">
              <input type="submit" class="btn btn-info" value="Fetch Tags">
          </form>    
        </div>
      </div>

      <div id="delete">
        <h2> Most popular tags </h2>
        <!-- <form action="#" id="delete">
            <input type="number" name="score" class="form-control" placeholder="Enter minimun score">
            <input type="submit" class="btn btn-primary" value="Delete All Post">
        </form> -->
      </div>

    </div>
    <script src="../JS/tags.js"></script>
</body>
</html>