body {
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    color: #4e5359;
    background-color: #d9e4e78c;
  }

input:focus,
input:hover {
  outline: none;
}

div#hii{
  background: #8aa7a7;
  height: 50px;
  width: 100%;
}

div.name{
  padding-left: 10px;
  color: white;
  display: inline-block;
  font-size: xx-large;
  font-weight: 300;
  font-family: 'Bradley Hand';
}


div.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;
    margin : 10px 10px 10px 10px;
}

/* div.delete{
    top: 30px;
    right : 60px;
} */

form > .btn{
    margin: 10px;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


div.main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  row-gap: 10px;
  padding: 10px 10px 10px 10px;
  margin : 10px 10px 10px 10px;
}