*, *::after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}

body {
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    color: #4e5359;
    background-color: #d9e4e78c;
  }

  body::after {
    /* overlay layer visible on small devices when the right panel slides in */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 83, 89, 0.8);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }

  body.cd-overlay::after {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }

div#hii{
    background: #008080;
    height: 50px;
    width: 100%;
  }

div.name{
    padding-left: 10px;
    color: white;
    display: inline-block;
    font-size: xx-large;
    font-weight: 300;
    font-family: 'Bradley Hand';
  }

  div.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 10px;
    padding: 10px 10px 10px 10px;
    margin : 10px 10px 10px 10px;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .styled-table th,
  .styled-table td {
      padding: 12px 15px;
  }
  
  .styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }